@page
@model AuthorizationModel
@{
    ViewData["Title"] = "Authorize";
}
<h1>@ViewData["Title"]</h1>

<p>You have to register in app.</p>

<form method="post" asp-controller="Users" asp-action="Authenticate">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="LOGIN" class="btn btn-dark"/>
    </div>
</form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
