@page
@model CreateNoteModel
@{
    ViewData["Title"] = "Create Note";
}
<h1>@ViewData["Title"]</h1>

<p>You can write down your notes here.</p>
<p>
    <textarea name="comment" cols="40" rows="3"></textarea>
</p>
<p>
    <input type="submit" value="Create">
    <input type="reset" value="Clear">
</p>
