@page
@model CreateNoteModel
@{
    ViewData["Title"] = "Create Note";
}
<h1>@ViewData["Title"]</h1>

<p>You can write down your notes here.</p>
<form method="post" asp-controller="Notes" asp-action="Create">
    <div>
        <textarea name="comment" cols="40" rows="3"></textarea>
    </div>
<div>
    <input type="submit" value="Create">
    <input type="reset" value="Clear">
</div>
</form>
