@page
@model RegistrationModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>You have to register in app.</p>
    <form method="post" asp-controller="Users" asp-action="Register">
        <div class="validation-summary-errors" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input class="input-validation-error" asp-for="Email" />
            <span class="field-validation-error" asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input class="input-validation-error" asp-for="Password" />
            <span class="field-validation-error" asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input class="input-validation-error" asp-for="PasswordConfirm" />
            <span class="field-validation-error" asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="SUBMIT" />
        </div>
    </form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
</body>