@page
@model RegistrationModel
@{
    ViewData["Title"] = "Register";
}
<body>
    <h1>@ViewData["Title"]</h1>

    <p>You have to register in app.</p>
    <form method="post" asp-controller="Users" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input class="form-control" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="SUBMIT" class="btn btn-dark"/>
        </div>
    </form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
</body>